* {
  margin: 0;
  padding: 0;
}

.main-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 395px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
}
.first-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0xp;
}
.inv-text {
  font-family: "Allura", cursive;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  margin-top: 100px;
  color: #bf932a;
  animation: fadein 1s ease-in-out forwards;
}
.saru {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #f88a87;
  margin: 100px 0px -10px 0px;
  animation: fadein 3s ease-in-out forwards;
}
.and {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 75px;
  color: #f88a87;
  animation: fadein 3s ease-in-out forwards;
}
.bicek {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #f88a87;
  margin: -10px 0 0 0;
  animation: fadein 3s ease-in-out forwards;
}
.long-text {
  text-align: center;
  font-family: "Allura", cursive;
  margin: 80px 0;
  color: #bf932a;
  font-size: 26px;
  font-weight: 600;
  padding: 0 20px 0 20px;
  animation: fadein 1s ease-in-out forwards;
}
.scroll-indicator {
  font-size: 2rem;
  border: 2px solid #f88a87;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation:
    fadein 3s ease-in forwards,
    bounce 1.5s ease-in-out infinite;
  animation-delay: 0s, 3.5s;
}

.arrow {
  font-size: 16px;
  font-weight: 300;
  color: #f88a87;
}
.second-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fcfaf6;
}
.scratch-container {
  margin: 200px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 395px;
}
.scratch-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Libre Franklin", sans-serif;
  font-size: 22px;
  color: #6b3320;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.scratch-text p {
  font-size: 32px;
  font-weight: 600;
  font-family: "Playwrite NZ Basic", cursive;
}
.scratch-content {
  margin: 50px 0px;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.scratch-box1 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  box-shadow: 0 6px 12px rgba(200, 180, 150, 0.4);
}
.hidden-message {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playwrite NZ Basic", cursive;
  font-weight: 600;
  color: #6b3320;
}
#scratchCanvas {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.scratch-box2 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  box-shadow: 0 6px 12px rgba(200, 180, 150, 0.4);
}
.scratch-box3 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  box-shadow: 0 6px 12px rgba(200, 180, 150, 0.4);
}
.wedtext {
  font-family: "Playwrite NZ Basic", cursive;
  color: #6b3320;
  text-align: center;
  margin-top: -50px;
  font-weight: 600;
  font-size: 28px;
  opacity: 0;
}
.petal {
  position: fixed;
  top: -50px;
  width: 18px;
  height: 18px;
  background: radial-gradient(circle at 30% 30%, #ffd6e0, #e48aa3);
  border-radius: 60% 40% 60% 40%;
  opacity: 0.9;
  pointer-events: none;
  animation-name: fall, sway;
  animation-timing-function: linear, ease-in-out;
}
