* {
  margin: 0;
  padding: 0;
}

.main-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fcfaf6;
}
.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}
.inv-text {
  font-family: "Allura", cursive;
  font-weight: 600;
  font-size: 32px;
  padding: 0px 4px 0px 4px;
  text-align: center;
  margin-top: 100px;
  color: #d32f2f;
  animation: fadein 3s ease-in-out forwards;
}
.saru {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #d32f2f;
  margin: 50px 0px -10px 0px;
  animation: fadein 5s ease-in-out forwards;
}
.and {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 75px;
  color: #d32f2f;
  animation: fadein 5s ease-in-out forwards;
}
.bicek {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #d32f2f;
  margin: 10px 0 0 -50px;
  animation: fadein 5s ease-in-out forwards;
}
.long-text {
  text-align: center;
  font-family: "Allura", cursive;
  margin: 50px 0;
  color: #d32f2f;
  font-size: 26px;
  font-weight: 600;
  padding: 0 20px 0 20px;
  animation: fadein 3s ease-in-out forwards;
}
.scroll-indicator {
  font-size: 2rem;
  border: 2px solid #d32f2f;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation:
    fadein 3s ease-in forwards,
    bounce 1.5s ease-in-out infinite;
  animation-delay: 0s, 3.5s;
}

.arrow {
  font-size: 16px;
  font-weight: 300;
  color: #d32f2f;
}
.second-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scratch-container {
  margin: 200px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 395px;
}
.scratch-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Libre Franklin", sans-serif;
  font-size: 22px;
  color: #6b3320;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.scratch-text p {
  font-size: 32px;
  font-weight: 600;
  font-family: "Playwrite NZ Basic", cursive;
}
.scratch-content {
  margin: 50px 0px;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.scratch-box1 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  box-shadow: 0 6px 12px rgba(200, 180, 150, 0.4);
}
.hidden-message {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playwrite NZ Basic", cursive;
  font-weight: 600;
  color: #6b3320;
}
#scratchCanvas {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.scratch-box2 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  box-shadow: 0 6px 12px rgba(200, 180, 150, 0.4);
}
.scratch-box3 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  box-shadow: 0 6px 12px rgba(200, 180, 150, 0.4);
}
.wedtext {
  font-family: "Playwrite NZ Basic", cursive;
  color: #6b3320;
  text-align: center;
  margin-top: -50px;
  font-weight: 600;
  font-size: 28px;
  opacity: 0;
}
.petal {
  position: fixed;
  top: -50px;
  width: 18px;
  height: 18px;
  background: radial-gradient(circle at 30% 30%, #ffd6e0, #e48aa3);
  border-radius: 60% 40% 60% 40%;
  opacity: 0.9;
  pointer-events: none;
  animation-name: fall, sway;
  animation-timing-function: linear, ease-in-out;
}
.third-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 744px;
  background: url(./bg2.jpg);
  background-size: cover;
  background-position: center;
}
.map {
  width: 400px;
  height: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.circle {
  width: 70px;
  height: 70px;
  background: #c9d1c4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  box-shadow: 0 6px 12px rgba(200, 180, 150, 0.4);
}
.circle i {
  color: #3b4634;
  font-size: 24px;
}
.venue {
  text-align: center;
  font-family: "Playwrite NZ Basic", cursive;
  font-size: 39px;
  line-height: 40px;
  color: #3b4634;
  font-weight: 600;
  margin-top: 20px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.time {
  text-align: center;
  font-family: "Playwrite NZ Basic", cursive;
  font-size: 24px;
  line-height: 40px;
  color: #3b4634;
  font-weight: 600;
  margin-top: 20px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.location {
  text-align: center;
  font-family: "Playwrite NZ Basic", cursive;
  font-size: 24px;
  line-height: 40px;
  color: #3b4634;
  font-weight: 600;
  margin-top: 20px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.map-container {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.map iframe {
  margin-top: 20px;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  border: none;
  display: block;
  transition: all 0.4s ease;
}
.map iframe:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}
.location-btn {
  margin-top: 20px;
  background-color: #c9d1c4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
}
.location-btn i {
  color: #3b4634;
}
.location-btn a {
  color: #3b4634;
  font-family: "Playwrite NZ Basic", cursive;
  text-decoration: none;
}
