* {
  margin: 0;
  padding: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 395px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.inv-text{
   font-family: "Allura", cursive;
   font-weight: 300;
   font-size:26px;
   text-align: center;
   /* margin-top:-100px; */
}
.saru {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  margin-top:0px;
  color: #355e3b;
  animation: fadein 4s ease-in-out forwards;
}
.weds {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  margin-top:0px;
  color: #355e3b;
  animation: fadein 4s ease-in-out forwards;
}.bicek {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  margin-top:0px;
  color: #355e3b;
  animation: fadein 4s ease-in-out forwards;
}