* {
  margin: 0;
  padding: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 395px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0xp;
}
.inv-text {
  font-family: "Allura", cursive;
  font-weight: 800;
  font-size: 26px;
  text-align: center;
  margin-top: -130px;
  color:#355e3b;
 animation: fadein 1s ease-in-out forwards;
}
.saru {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #355e3b;
  margin: 100px 0px -10px 0px;
  animation: fadein 3s ease-in-out forwards;
}
.weds {
  text-align: center;
 font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  color: #355e3b;
  animation: fadein 3s ease-in-out forwards;
}
.bicek {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #355e3b;
  margin: -10px 0 0 0;
  animation: fadein 3s ease-in-out forwards;
}
.long-text{
  
}
